.preview-pane { display: table; }
.preview-img-span { display: table-cell; width: 30%; }
.preview-text { display: table-cell; vertical-align: top; padding: 0px 20px; }
.preview-title { display: table-row; }
.preview-snippet { display: table-row; }
.preview-img { height: auto; max-width: 280px; }

.home-banner { text-align: center; }
.home-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 720px;
    height: auto;
}
.home-description {  text-align: center; }
