.carousel { width: 90%; display: block; margin-right: auto; margin-left: auto; }
.slick-prev:before, .slick-next:before { 
    color: #2E8AE6;
}
.carousel-image { display: block; margin-right: auto; margin-left: auto; }
.image-container { display: block; margin-left: auto; margin-right: auto; }
.post-home-img { display: block; margin-left: auto; margin-right: auto; }
.img-cont-image { padding: 0px 40px; width: 280px;}